<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Manawatu Building Recyclers</title>
		<meta name="description" content="Placeholder Title">
		<meta name="author" content="Hayley van Waas">
		<link rel="stylesheet" href="css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<!-- <img src="images/mini-building.png"> -->
			<h1>Manawatu Building Recyclers</h1>
			<nav>
				<a href="#contact">Contact</a>
				<a href="#about">About</a>
			</nav>
		</header>
		
		<img id="hero" src="images/hero.jpg">
		<!-- <div id="viewer"></div> -->

		<section id="intro">
			<h2 id="subtitle">
				Whether you are building a new home or restoring a beautiful character home, we will have something to suit.
			</h2>
			<div id="intro-text">
				<div class="intro-element">
					<div class="intro-element-heading">
						<img src="images/recycle.png">
						<h3>Recycled</h3>
					</div>
					<div class="intro-element-text">
						<p>
							In our recycled range we specialize in a range of windows and doors. At any one time there could be over 500 assorted items in stock, and the stock is always changing.
						</p>
					</div>
				</div>
				<div class="intro-element">
					<div class="intro-element-heading">
						<img src="images/door.png">
						<h3>New</h3>
					</div>
					<div class="intro-element-text">
						<p>
							As well as recycled material we offer a range of new French Doors, Modern & Traditional Windows as well as complete sets of Kitchens & Cupboards. These can be manufactured to your requirements.
						</p>
					</div>
				</div>
				<div class="intro-element">
					<div class="intro-element-heading">
						<img src="images/truck.png">
						<h3>Delivery</h3>
					</div>
					<div class="intro-element-text">
						<p>
							We also offer a delivery service, price varies depending on your location and physical size of your purchase.
						</p>
					</div>
				</div>
			</div>
		</section>
		
		<section id="example-stock-photos">
			<div id="three-images">
				<div class="individual-image">
					<img class="stock-image" src="images/example-stock-1.png">
					<h3 id="example-stock-text">
						EXAMPLE STOCK
					</h3>
				</div>
				<div class="individual-image">
					<img class="stock-image" src="images/example-stock-2.jpg">
					<h3 id="example-stock-text">
						EXAMPLE STOCK
					</h3>
				</div>
				<div class="individual-image">
					<img class="stock-image" src="images/example-stock-3.jpg">
					<h3 id="example-stock-text">
						EXAMPLE STOCK
					</h3>
				</div>
			</div>
		</section>
		
		<a class="anchor" name="contact"></a>
		<section id="contact-section">
			<div id="contact-content">
				<div id="contact-text">
					<h2>Contact</h2>
					<div class="contact-element">
						<p>
							86 Bourke St
						</p>
						<p>
							Palmerston North, 4410
						</p>
					</div>
					<div class="contact-element">
						<p>
							Weekdays: 8:30am - 4:30pm
						</p>
						<p>
							(Most) Saturdays: 9am - 12pm
						</p>
						<p>
							Closed on Public Holidays.
						</p>
					</div>
					<div class="contact-element">
						<p>
							Ph. 06 355 1166
						</p>
						<p>
							After hours Ph. 027 446 1522
						</p>
						<p>
							Email: <a href="mailto:ross@buildingrecyclers.co.nz">ross@buildingrecyclers.co.nz</a>
						</p>
					</div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.457048206603!2d175.60373997102894!3d-40.3563628773753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d41b2d2f0cefa9d%3A0xa79be9ca52c18128!2sManawatu+Building+Recyclers!5e0!3m2!1sen!2snz!4v1548102291750" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</section>

		<a class="anchor" name="about"></a>
		<section id="about-section">
			<h2>About</h2>
			<div id="about-content" class="section-content">
				<img src="images/shop-front.jpg">
				<!-- <div id="about-text"> -->
					<p>
						Hello, my name is Ross van Waas.
					</p>
					<p>
						I have had nearly 30 years experience in the recycling business. I started out working for a large recycling business in Wellington for 5 years, before branching out to set up my own recycling shop.
					</p>
					<p>
						My first shop opened in 1996, in Porirua (and is still open and operating under the new owner who took it over from me in 2002).
					</p>
					<p>
						At this time my family and I were living in Paraparaumu, and we decided to start again, this time in Palmerston North. I found a suitable premises on Bourke Street, and spent the first year commuting 6 days a week, before eventually moving to Palmerston North, and we have been here ever since.
					</p>
					<p>
						Initially I set up a shop dealing in anything that came out of an average house, and which was good enough to be reused. In late 2010 I relocated across the road to a smaller but newer and brighter building, and decided to concentrate on just Windows and Doors, and also new Kitchens.
					</p>
					<p>
						We also have a full display kitchen on show in the shop, as I sell new modular kitchens , made to order. Bring your plan and I would be happy to price one of our kitchens for you.
					</p>
					<p>
						Come on in or give us a call, I’m happy to help you find what you’re looking for!
					</p>
					<p>
						Ross.
					</p>
				<!-- </div> -->
			</div>
		</section>

		<footer>
			<div id="main-footer-content">
				<p>&#9400; Manawatu Building Recyclers 2019</p>
				<div id="icon-attribution">
					<p>
						Recycle icon made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>, Door icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> and Truck icon made by <a href="https://www.flaticon.com/authors/vignesh-oviyan" title="Vignesh Oviyan">Vignesh Oviyan</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
					</p>
				</div>
			</div>
			<div class="attribution">
				<p>
					This website was made by <a href="https://hayleyavw.com">Hayley van Waas</a>.
				</p>
			</div>
		</footer>

		<script src="js/script.js"></script>
	</body>

</html>
