<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Manawatu Building Recyclers</title>
		<meta name="description" content="Placeholder Title">
		<meta name="author" content="Hayley van Waas">
		<link rel="stylesheet" href="css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<header>
			<img src="images/mini-building.png">
			<div id="header-text">
				<h1>Manawatu Building Recyclers</h1>
				<nav>
					<a href="#">Contact</a>
					<a href="#">About</a>
				</nav>
			</div>
		</header>
		
		<img id="hero" src="images/hero.jpg">
		<!-- <div id="viewer"></div> -->

		<section>
			<p>
				Whether you are building a new home or restoring a beautiful character home, we will have something to suit. All in stock materials are displayed at 86 Bourke St, Palmerston North and sorted for easy viewing and selection for our customers.
			</p>
			<p>
				In our recycled range we are spezialising in a range of windows and doors. They are often, however, sold before we can even display them - so we can't guarantee how long specific items stay in stock. Our collection is always turning over and new material is added to our stock every day. There is bound to be something useful or of interest to you.
			</p>
			<p>
				As well as recycled material we offer a range new French Doors, Modern & Traditional Windows as well as complete sets of Kitchens & Cupboard . These can be manufactured to your requirements. Our stocklist gives you all the information. However if you unsure please call we are very happy to help.
			</p>
			<p>
				We have a delivery service. There may be an extra charge depending on distance, carrier and approximate time required.
			</p>
			<div id="example-stock-photos">
				<div id="three-images">
					<div class="individual-image">
						<img class="stock-image" src="images/example-stock-1.jpg">
					</div>
					<div class="individual-image">
						<img class="stock-image" src="images/example-stock-2.jpg">
					</div>
					<div class="individual-image">
						<img class="stock-image" src="images/example-stock-3.jpg">
					</div>
				</div>
				<h3 id="example-stock-text">
					EXAMPLE STOCK
				</h3>
			</div>
		</section>

		<section id="contact">
			<h2>Contact</h2>
			<div id="contact-content" class="section-content">
				<div id="contact-text">
					<div class="contact-element">
						<p>
							86 Bourke St
						</p>
						<p>
							Palmerston North, 4410
						</p>
					</div>
					<div class="contact-element">
						<p>
							Weekdays: 8:30am - 4:30pm
						</p>
						<p>
							Saturday: 9am - 12pm
						</p>
						<p>
							Closed on Public Holidays.
						</p>
					</div>
					<div class="contact-element">
						<p>
							Ph. 06 355 1166
						</p>
						<p>
							After hours Ph. 027 446 1522
						</p>
						<p>
							Email: <a href="mailto:ross@buildingrecyclers.co.nz">ross@buildingrecyclers.co.nz</a>
						</p>
					</div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.457048206603!2d175.60373997102894!3d-40.3563628773753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d41b2d2f0cefa9d%3A0xa79be9ca52c18128!2sManawatu+Building+Recyclers!5e0!3m2!1sen!2snz!4v1548102291750" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</section>

		<section id="about">
			<h2>About</h2>
			<div id="about-content" class="section-content">
				<img src="images/shop-front.jpg">
				<!-- <div id="about-text"> -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam odio nec ipsum sollicitudin gravida. Sed ultricies commodo risus quis luctus. Pellentesque tincidunt nulla elit, in ullamcorper lectus accumsan ut. Cras eget leo libero. Proin fringilla rhoncus pharetra. Ut vestibulum, leo sit amet maximus porta, quam neque fringilla dui, a tincidunt est nisi eu magna.
					</p>
					<p>
						Pellentesque hendrerit, libero gravida pulvinar sollicitudin, libero dui auctor diam, id tincidunt tortor urna non elit. Nunc placerat, ipsum ac hendrerit scelerisque, nisl lacus consectetur leo, at egestas nibh lectus ut turpis. Aliquam vehicula, metus in suscipit facilisis, metus libero ullamcorper ex, sed molestie neque risus tristique lectus. Nunc vel turpis id mi sagittis tempor. Proin a dolor turpis. Maecenas ante sapien, iaculis nec venenatis id, posuere non arcu. Nam a nulla velit.
					</p>
					<p>
						Cras tincidunt, sapien a mattis malesuada, leo magna porta ligula, ut semper mi elit pellentesque nibh. Pellentesque sit amet scelerisque ex, vel varius libero. In laoreet libero nec dui accumsan, pretium elementum dolor placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas mauris quam, commodo lobortis ultricies vitae, condimentum at ligula. Phasellus a erat mauris. Proin nisl dui, aliquam et vehicula euismod, pretium sit amet lacus.
					</p>
				<!-- </div> -->
			</div>
		</section>

		<footer>
			<div id="main-footer-content">
				<p>&#9400; Manawatu Building Recyclers 2019</p>
			</div>
			<div id="website-attribution">
				<p>This website was created by <a href="https://hayleyavw.com">Hayley van Waas</a>.</p>
			</div>
		</footer>

		<script src="js/script.js"></script>
	</body>

</html>
