<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Manawatu Building Recyclers</title>
		<meta name="description" content="Placeholder Title">
		<meta name="author" content="Hayley van Waas">
		<link rel="stylesheet" href="css/base.css">
	</head>

	<body>
		<h1>Manawatu Building Recyclers</h1>
		

		<svg version="1.1"
			 baseProfile="full"
			 width="100%" height="600px"
			 xmlns="http://www.w3.org/2000/svg"
			 viewbox="0 0 1100 600">

			<rect x="0" y="0" width="100%" height="100%" fill="#87CEFA" />

			<!-- left windows -->
			<rect x="100" y="330" width="230" height="220" fill="#4682B4" />
			
			<!-- left orange panel -->
			<rect x="330" y="330" width="170" height="220" fill="#F89323" />

			<!-- entrance -->
			<rect x="400" y="250" width="300" height="300" fill="#f7f8f9" />

			<!-- top orange sign -->
			<path d="
			  M 330 150
			  L 770 150
			  L 770 270
			  L 700 270
			  L 700 250
			  L 400 250
			  L 400 270
			  L 330 270
			  L 330 150		  
			" fill="#F89323"></path>

			<!-- top -->
			<path d="
			  M 550 50
			  L 1000 200
			  L 1000 270
			  L 770 270
			  L 770 150
			  L 330 150
			  L 330 270
			  L 100 270
			  L 100 200
			  L 550 50
			" fill="#4682B4"></path>

			<!-- roof -->
			<path d="
			  M 550 20
			  L 1030 180
			  L 1030 210
			  L 550 50
			  L 70 210
			  L 70 180
			  L 550 20
			" fill="#377ab2"></path>

			<!-- right orange panel -->
			<rect x="700" y="330" width="170" height="220" fill="#F89323" />
			
			<!-- left sign -->
			<rect x="50" y="270" width="380" height="60" fill="#e5e7ea" />

			<!-- right sign -->
			<rect x="670" y="270" width="380" height="60" fill="#e5e7ea" />

			<!-- right windows -->
			<rect x="770" y="330" width="230" height="220" fill="#4682B4" />

			<!-- <circle cx="50%" cy="50%" r="80" fill="green" /> -->

			<!-- <text x="150" y="125" font-size="60" text-anchor="middle" fill="white">SVG</text> -->

		</svg>



		<script src="js/script.js"></script>
	</body>

</html>
