$orange: #e69c00;
$dark-grey: #5f5e5e;
$main-font: 'Roboto', sans-serif;
$body-left-margin: -10vw;
$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

html {
  background-color: #f9f9f9;
  font-family: $main-font;
  scroll-behavior: smooth;
}

body {
    margin: 0 0-$body-left-margin;
}

h1 {
	font-size: 2.5rem;
	margin: 5px;
	color: $dark-grey;
}

h2 {
	color: $orange;
	text-align: left;
	&#subtitle {
		text-align: center !important;
	}
}

h3 {
    font-size: 1rem;
    margin: 0px;
}

a {
	color: $orange;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px; 
  visibility: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	background-color: #f9f9f9;
    top: 0;
    z-index: 10;
    width: 100vw;
    margin: 0 20px 0 $body-left-margin;
    padding: 10px 10vw 10px 10vw;
    box-sizing: border-box;
    border-bottom: 5px solid $orange;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	img {
		height: 150px;
		width: auto;
		z-index: 1;
	}
	nav {
		float: right;
		margin: 5px;
		a {
			margin: 10px;
		}
	}
}

#hero {
	width: 100vw;
	margin-left: $body-left-margin;
	z-index: -1;
	border-top: 2px solid $orange;
	border-bottom: 2px solid $orange;
}

section {
	margin-bottom: 30px;
}

#intro {
	#intro-text {
		display: flex;
		flex-direction: column;
		.intro-element {
			display: flex;
			justify-content: space-evenly;
			margin: 20px 0 20px 0;
			.intro-element-heading {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 20px;
				img {
					width: 50px;
					height: auto;
				}
			}
			.intro-element-text {
				flex-basis: 80%;
				text-align: center;
				p {
					margin: 0;
				}
			}
		}
	}
}

#example-stock-photos {
	width: 100vw;
	margin-left: -10vw;
	#three-images {
		display: flex;
		justify-content: space-between;
		.individual-image {
			height: 35vh;
			margin: 4px;
			.stock-image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				box-shadow: $box-shadow;
			}
		}
	}
	#example-stock-text {
		text-align: center;
		margin: -30px 0px 0px 0px;
		padding: 4px;
		background-color: #C3C6CC;
		opacity: 0.8;
		color: #FFF;
	}
}

#contact-section {
	#contact-content {
		display: flex;
		justify-content: space-between;
		align-content: center;
		#contact-text {
			.contact-element {
				margin: 20px 0;
				p {
					margin: 1px;
				}
			}
		}
		iframe {
			box-shadow: $box-shadow;
		}
	}
}

#about-content {
	img {
		height: 200px;
		width: auto;
		float: left;
		margin: 0 20px 10px 0;
		box-shadow: $box-shadow;
	}
	p {
		font-size: 1rem;
	}
}

footer {
	text-align: center;
	width: 100vw;
	margin-left: $body-left-margin;
	background-color: #e1e2e2;
	padding-top: 5px;
	border-top: 5px solid $orange;
	#icon-attribution {
		font-size: 0.7rem;
	}
	.attribution {
		background-color: #FFF;
		p {
			font-size: 0.7rem;
			margin: 0px;
			padding-top: 4px;
		}
		a {
			color: #000;
		}
	}
}

@media (max-width: 1024px) {
	#example-stock-photos {
		#three-images {
			.individual-image {
				height: 25vh;
			}
		}
	}
}

@media (max-width: 856px) {
	$body-left-margin: -5vw;
	header {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

@media (max-width: 850px) {
	#contact-section {
		#contact-content {
			iframe {
				width: 325px !important;
			}
		}
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}
	h2#subtitle {
		font-size: 1.3rem;
	}
	#example-stock-photos {
		margin-bottom: 0px;
	}
	#contact-section {
		#contact-content {
			flex-direction: column;
			iframe {
				width: 100% !important;
			}
		}
	}
	#about-content {
		img {
			width: 400px;
			height: auto;
		}
	}
}

@media (max-width: 670px) {
	#about-content {
		img {
			float: none;
			width: 100%;
			height: auto;
		}
	}
}

@media (max-width: 644px) {
	header nav a {
		display: inline-block;
		margin: 5px;
	}
}

@media (max-width: 500px) {
	#intro {
		margin-bottom: 0px;
	}
}

@media (max-width: 440px) {
	#example-stock-photos {
		margin-bottom: 10px;
	}
}

@media (max-width: 425px) {
	h1 {
		font-size: 1.7rem;
	}
	h2#subtitle {
		font-size: 1rem;
	}
	#example-stock-photos {
		#three-images {
			.individual-image {
				height: 20vh;
			}
		}
	}
}
